*~
output/*
thesis/output/*
p137-lammich.pdf
slides_backup/main.aux
slides_backup/main.log
slides_backup/main.nav
slides_backup/main.out
slides_backup/main.pdf
slides_backup/main.snm
slides_backup/main.synctex.gz
slides_backup/main.toc
